:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }

       
    }
}

.contentPerfiles{
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}

 mat-form-field {
    padding: 0px 5px 0px 5px;
}

.contenedor-imagen {
   
    margin-top: 1em;
    margin-bottom: 1em;
    width: 120px;
    height: 120px;
}

.contenedor-imagen img {
    width: 100%;
    height: auto;
    border-radius: 100px;
    border: 1px solid #E5E5E5;

}

.example-margin{
    padding-left: 20px;
}
@supports(object-fit: cover) {
    .contenedor-imagen img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Seleccionar imagen de perfil';
   
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .pw {
    -webkit-text-security: disc;
}
.padding {
    padding-top: 10px;
}