.modal{
  width: 100%;

  .mat-card{
    padding: 20px;
    box-shadow: none;
  }
}

.buttons{
  margin-bottom: 30px;
}

.button{
  border-radius: 5px;
  width: 200px;
}

.margen{
  margin-left: 10px;
}