<ngx-spinner type="timer"></ngx-spinner>
<div id="clientes" class="page-layout simple fullwidth docs">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text content">
            <h1>Tablero de iniciativas</h1>
            <h3>Listado de iniciativas</h3>
        </div>

    </div>
    <!-- / HEADER -->




    <div class="content p-24" align="center" style="border: 1px">
        <div class="content">
            <!-- Data table-->

            <div class="buscador">
                <mat-form-field class="buscar">
                    <mat-label>Buscar un iniciativa</mat-label>
                    <input type='text' matInput placeholder='' (keyup)='filterDatatable($event)'
                        [(ngModel)]="valueBuscador">
                </mat-form-field>
                <button [disabled]="!this.optAgregar" mat-raised-button color="warn" (click)="nuevaIniciativa()"
                    class="button">
                    <mat-icon color="white" class="material-icons" matTooltip="Clic para añadir un documento">post_add
                    </mat-icon>
                    Agregar nueva iniciativa
                </button>

            </div>

            <ngx-datatable class="material shadow-none ngx-datatable" [rows]="iniciativas" [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [reorderable]="reorderable" [limit]="10" [scrollbarH]="true" [sorts]="
                [{prop: 'fechaIniciativa' , dir: 'desc' }]">
                <!--   <ngx-datatable-column name="Id. iniciativa" prop="id"></ngx-datatable-column>-->
                <ngx-datatable-column name="Tipo" prop="tipo_de_iniciativa.descripcion"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha de iniciativa" prop="fechaIniciativaText"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha de estatus" prop="fechaCreacionText"></ngx-datatable-column>
                <ngx-datatable-column name="Estatus" prop="estatus"></ngx-datatable-column>
                <ngx-datatable-column name="Autores" prop="autoresText"></ngx-datatable-column>
                <ngx-datatable-column name="Tema" prop="temaText"></ngx-datatable-column>
                <ngx-datatable-column name="Acciones" sortable="false" prop="id">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                        <a *ngIf="row.estatus==='Registrada'" (click)="editarIniciativa(row)">
                            <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic para editar">edit
                            </mat-icon>
                        </a>

                        <a *ngIf="row.estatus==='Turnado de iniciativa a comisión' || row.estatus==='Turnar iniciativa a comisión' 
                        || row.estatus==='Turnar cuenta pública a EASE' || row.estatus==='Turnado de iniciativa a EASE'
                        || row.estatus==='Turnar dictamen a Secretaría General' 
                        || row.estatus==='Turnar dictamen a secretaría de servicios parlamentarios'
                        || row.estatus==='Turnar dictamen a Mesa Directiva'
                        || row.estatus==='Turnada a comisión para modificación'
                        || row.estatus==='Turnada a publicación'" (click)="iniciativaTurnada(row)">
                            <mat-icon color="primary" class="material-icons pointer"
                                matTooltip="Clic para ver iniciativa turnada">assignment_turned_in
                            </mat-icon>
                        </a>
                        <mat-icon *ngIf="row.estatus==='Turnar iniciativa a CIEL' ||
                        row.estatus==='Publicada'" color="accent" class="material-icons">check_circle</mat-icon>
                        <mat-icon *ngIf="row.estatus==='Suspendida'" color="warn" class="material-icons">remove_circle
                        </mat-icon>

                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>