<div id="clientes" class="page-layout simple fullwidth docs">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text content">
            <h1>Dashboard de indicadores de iniciativas</h1>
        </div>

    </div>

    <ngx-spinner type="timer"></ngx-spinner>
    <!-- / HEADER -->

    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Filtrar búsqueda</ng-template>
                <section class="container">
                    <div class="column">

                        <div class="select">
                            <p class="tag">Tipo de registro</p>
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Seleccione un tipo de registro</mat-label>
                                <mat-select formControlName="tipoRegistro" [(ngModel)]="selectTipo" (ngModelChange)="selectChange($event)">
                                    <mat-option *ngFor="let tipo of arrTipo" [value]="tipo.id">
                                        {{tipo.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="select">
                            <p class="tag">Legislatura</p>
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Seleccione una legislatura</mat-label>
                                <mat-select formControlName="legislatura" [(ngModel)]="selectedLegislatura">
                                    <mat-option *ngFor="let legislatura of arrLegislaturas" [value]="legislatura.id">
                                        {{legislatura.cLegislatura}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                        <div class="select">
                            <p class="tag">Comisión</p>
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Seleccione una comisión</mat-label>
                                <mat-select formControlName="comision" [(ngModel)]="selectedComision" [disabled]="selectTipo=='5ff5ebc2dacfb729306116b8'">
                                    <mat-option *ngFor="let comision of arrComisiones" [value]="comision.id">
                                        {{comision.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                
                        <div class="select">
                            <p class="tag">Autor(s)</p>
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Autor (s)</mat-label>
                                <mat-chip-list #chipList aria-label="Selección de autores">
                                    <mat-chip *ngFor="let autor of autores" [selectable]="selectable" [removable]="removable"
                                        (removed)="eliminarAutor(autor)">
                                        {{autor.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input matInput formControlName="autores" placeholder="Nuevo autor..." [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="agregarAutor($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>

                        <!-- <div class="select">
                              <p class="tag">Entidad</p>
                              <mat-form-field appearance="fill" class="input">
                                  <mat-label>Seleccionar</mat-label>
                                  <mat-select>
                                      <mat-option value="option">Option</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div> -->

                    </div>
                    <div class="column">

                        <div class="select">
                            <p class="tag">Fecha inicio</p>
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Seleccione una fecha</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fechaIni"
                                    [(ngModel)]="fechaIni">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="select">
                            <p class="tag">Fecha final</p>
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Seleccione una fecha</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="fechaFin"
                                    [(ngModel)]="fechaFin">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="select buttons">
                            <button mat-raised-button matStepperNext color="warn" (click)="obtenerMovimientos()"
                                class="btn-search">Consultar</button>
                            <button mat-raised-button color="warn" class="btn-search"
                                (click)="borrarFiltros()">Borrar</button>
                        </div>
                    </div>
                </section>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Resultado de búsqueda</ng-template>
                <div class="content p-24" align="center" style="border: 1px">

                    <!-- Data table-->
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Total de decretos concluidos acumulados">
                            <section class="container">
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccione Mes y año</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaAcumulada" (ngModelChange)="valorMesAnio($event)">
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReport()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>
                            <div class="contenedor">
                                <div class="card">
                                    <h3 class="card-title">Cantidad total mes</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{decretosAcumuladosMes}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{decretosAcumuladosAnio}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">
                                    <div class="position-relative p-24" fxLayout="row"
                                        fxLayoutAlign="space-between center">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <span class="h2">TOTAL DE DECRETOS CONCLUIDOS ACUMULADOS</span>
                                        </div>
                                    </div>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart1" [datasets]="grafica.datasets.acumuladas"
                                            [labels]="grafica.labels" [colors]="grafica.colors"
                                            [options]="grafica.options" [chartType]="grafica.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Total de de iniciativas acumuladas">
                            <section class="container">
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccione Mes y año</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaIniciativaAcumulada" (ngModelChange)="valorMesAnioAcumuladas($event)">
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportIniciativaAcumulada()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>
                            <div class="contenedor">
                                <div class="card">
                                    <h3 class="card-title">Cantidad total mes</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">assignment
                                        </mat-icon>
                                        <p>{{iniciativasAcumuladasMes}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{iniciativasAcumuladasAnio}}</p>
                                    </div>
                                </div>
                            </div>
                            <section class="container">
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccione Mes y año (Aprobadas)</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaIniciativaAcumuladaAprobada" (ngModelChange)="valorMesAnioAcumuladasAprobadas($event)">
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccione Mes y año (No aprobadas)</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaIniciativaAcumuladaNoAprobada" (ngModelChange)="valorMesAnioAcumuladasNoAprobadas($event)">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </section>
                            <div class="contenedor">
                                <div class="card">
                                    <h3 class="card-title">Cantidad total mes</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">assignment
                                        </mat-icon>
                                        <p>{{iniciativasAcumuladasMesAprobada}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{iniciativasAcumuladasAnioAprobada}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{iniciativasAcumuladasMesNoAprobada}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{iniciativasAcumuladasAnioNoAprobada}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">
                                    <div class="position-relative p-24" fxLayout="row"
                                        fxLayoutAlign="space-between center">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <span class="h2">TOTAL DE INICIATIVAS ACUMULADAS</span>
                                        </div>
                                    </div>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart2" [datasets]="graficaProceso.datasets.pendientes"
                                            [labels]="graficaProceso.labels" [colors]="graficaProceso.colors"
                                            [options]="graficaProceso.options" [chartType]="graficaProceso.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Autores de iniciativa">
                            <section class="container">
                                <div class="column">

                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportAutors()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>

                            <h2 align="center">Iniciales</h2>
                            <br>
                            <ngx-datatable class="material shadow-none" [rows]="tablaAutorsMostrar" [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                            [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
                                <ngx-datatable-column name="Autores" prop="autor"></ngx-datatable-column>
                                <ngx-datatable-column name="Cantidad de iniciativas propuestas" prop="valor"></ngx-datatable-column>
                            </ngx-datatable>
                            <br>
                            <h2 align="center">Adheridos</h2>
                            <ngx-datatable class="material shadow-none" [rows]="tablaAdicionsMostrar" [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                            [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
                                <ngx-datatable-column name="Autores" prop="adicion"></ngx-datatable-column>
                                <ngx-datatable-column name="Cantidad de iniciativas propuestas" prop="valor"></ngx-datatable-column>
                            </ngx-datatable>

                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">

                                    <span class="h2">AUTORES DE INICIATIVA</span>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart3" [datasets]="graficaAutor.datasets.autors"
                                            [labels]="graficaAutor.labels" [colors]="graficaAutor.colors"
                                            [options]="graficaAutor.options" [chartType]="graficaAutor.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Estatus de iniciativa">

                            <section class="container">
                                <div class="column">
                        
                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportEstatusIniciativa()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>

                                <h2 align="center">Inicial</h2>
                                <br>
                                <ngx-datatable class="material shadow-none" [rows]="tablaEstatusIniciativaInicialMostrar" [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
                                    <ngx-datatable-column name="Departamento" prop="departamento"></ngx-datatable-column>
                                    <ngx-datatable-column name="cantidad" prop="valor"></ngx-datatable-column>
                                </ngx-datatable>

                                <h2 align="center">En Proceso</h2>
                                <br>
                                <ngx-datatable class="material shadow-none" [rows]="tablaEstatusIniciativaMostrar" [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
                                    <ngx-datatable-column name="Departamento" prop="departamento"></ngx-datatable-column>
                                    <ngx-datatable-column name="cantidad" prop="valor"></ngx-datatable-column>
                                </ngx-datatable>

                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">
                                    <div class="position-relative p-24" fxLayout="row"
                                        fxLayoutAlign="space-between center">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <span class="h2">ESTATUS DE INICIATIVA</span>
                                        </div>
                                    </div>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart4" [datasets]="graficaArchivada.datasets.archivada"
                                            [labels]="graficaArchivada.labels" [colors]="graficaArchivada.colors"
                                            [options]="graficaArchivada.options" [chartType]="graficaArchivada.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Dictámenes aprobados">
                            <section class="container">
                                <div class="column">
                                    <div class="card">
                                        <h3 class="card-title">Dictámenes aprobados</h3>
                                        <div class="contenido">
                                            <mat-icon color="white" class="material-icons mat-icon"
                                                matTooltip="Clic para añadir una Ente">folder
                                            </mat-icon>
                                            <p>{{dictamenesTotales}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportDictamen()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>

                                <br>
                                <ngx-datatable class="material shadow-none" [rows]="tablaDictamenMostrar" [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
                                    <ngx-datatable-column name="Dictamen" prop="dictamen"></ngx-datatable-column>
                                    <ngx-datatable-column name="cantidad total" prop="valor"></ngx-datatable-column>
                                </ngx-datatable>
                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">
                                        <span class="h2">DICTÁMENES APROBADOS</span>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart5" [data]="pieChartData" 
                                        [labels]="pieChartLabels" 
                                        [chartType]="pieChartType"
                                        [options]="pieChartOptions" 
                                        [plugins]="pieChartPlugins" 
                                        [colors]="pieChartColors" 
                                        [legend]="pieChartLegend">>
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Total de decretos publicados">
                            <section class="container">
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccione Mes y año</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaPublicados" (ngModelChange)="valorMesAnioPublicada($event)">
                                        </mat-form-field>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportPublicada()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>
                            <div class="contenedor">
                                <div class="card">
                                    <h3 class="card-title">Cantidad total mes</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">assignment
                                        </mat-icon>
                                        <p>{{decretosPublicadosMes}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{decretosPublicadosAnio}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">
                                    <div class="position-relative p-24" fxLayout="row"
                                        fxLayoutAlign="space-between center">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <span class="h2">TOTAL DE DECRETOS PUBLICADOS</span>
                                        </div>
                                    </div>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart6" [datasets]="graficaPublicada.datasets.publicados"
                                            [labels]="graficaPublicada.labels" [colors]="graficaPublicada.colors"
                                            [options]="graficaPublicada.options" [chartType]="graficaPublicada.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Estatus del decreto">
                            <section class="container">
                                <div class="column">
                                    <h2>Concluidas</h2>
                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportEstatusDecreto()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>
                            <section class="container">
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccionar fecha y año</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaPublicados" (ngModelChange)="valorMesAnioPublicada($event)">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </section>
                            <div class="contenedor">
                                <div class="card">
                                    <h3 class="card-title">Cantidad total mes</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">assignment
                                        </mat-icon>
                                        <p>{{decretosPublicadosMes}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{decretosPublicadosAnio}}</p>
                                    </div>
                                </div>
                            </div>
                            <section class="container">
                                <h2>Solicitud de publicación</h2>
                            </section>
                            <section class="container">
                                <div class="column">
                                    
                                    <div class="select">
                                        <p class="tag">Seleccionar fecha y año</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una fecha</mat-label>
                                            <input matInput type="month" formControlName="fechaIni"
                                                [(ngModel)]="fechaDecretoSolicitud" (ngModelChange)="valorMesAnioSolicitudPublicacion($event)">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                            <div class="contenedor">
                                <div class="card">
                                    <h3 class="card-title">Cantidad total mes</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">assignment
                                        </mat-icon>
                                        <p>{{decretosSolicitudPublicacionMes}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <h3 class="card-title">Cantidad total año</h3>
                                    <div class="contenido">
                                        <mat-icon color="white" class="material-icons mat-icon"
                                            matTooltip="Clic para añadir una Ente">folder
                                        </mat-icon>
                                        <p>{{decretosSolicitudPublicacionAnio}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">
                                    <div class="position-relative p-24" fxLayout="row"
                                        fxLayoutAlign="space-between center">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <span class="h2">ESTATUS DE DECRETO</span>
                                        </div>
                                    </div>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart7" [datasets]="graficaEstatusDecreto.datasets.decretos"
                                            [labels]="graficaEstatusDecreto.labels" [colors]="graficaEstatusDecreto.colors"
                                            [options]="graficaEstatusDecreto.options" [chartType]="graficaEstatusDecreto.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Comisiones asignadas">
                            <section class="container">
                                <div class="column">
                        
                                </div>
                                <div class="column">
                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" class="btn-search"
                                        (click)="generaReportComision()" [disabled]="activarDescarga">Descargar</button>
                                    </div>
                                </div>
                            </section>

                                <h2 align="center">Comisiones</h2>
                                <br>
                                <ngx-datatable class="material shadow-none" [limit]="5" [rows]="tablaComisionesMostrar" [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                [reorderable]="reorderable" [scrollbarH]="true">
                                    <ngx-datatable-column name="Comision" prop="comision"></ngx-datatable-column>
                                    <ngx-datatable-column name="Cantidad total" prop="valor"></ngx-datatable-column>
                                </ngx-datatable>
                                
                            <div class="contenedor-grafica">
                                <div class="fuse-card auto-width">

                                            <span class="h2">TOTAL COMISIONES ASIGNADAS</span>

                                    <div class="position-relative h-200 pb-16">
                                        <canvas baseChart id="chart8" [datasets]="graficaComisiones.datasets.comisiones"
                                            [labels]="graficaComisiones.labels" [colors]="graficaComisiones.colors"
                                            [options]="graficaComisiones.options" [chartType]="graficaComisiones.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="select buttons">
                    <button mat-raised-button matStepperPrevious color="warn" class="btn-search">Volver</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>

</div>