<div id="clientes" class="page-layout simple fullwidth docs">
    <ngx-spinner></ngx-spinner>
    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text content">
            <h1>Tablero de carga y descarga masiva</h1>
            <h3>Carga y descarga masiva de documentos digitales</h3>
        </div>

    </div>
    <!-- / HEADER -->


    <div class="content p-24 mt-20" align="center">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Carga masiva">
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Carga de documentos</ng-template>

                            <section class="container carga">
                                <div class="select ">
                                    <p class="tag">Cargas masivas pendientes</p>
                                    <mat-form-field appearance="fill" class="input corte">
                                        <mat-label>{{arrHistorialCarga.length == 0 ? 'No tiene cargas pendientes' : 'Seleccionar'}}</mat-label>
                                        <mat-select formControlName="historial" [formControlName]="'historial'"
                                        [disabled]="(excelSeleccionado || selectedHistorial !== '') && arrHistorialCarga.length == 0">
                                            <mat-option *ngFor="let historial of arrHistorialCarga"
                                                [value]="historial.id">
                                                {{historial.id}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-raised-button
                                    color="accent" class="btn-search" (click)="subirExcel()"
                                    [disabled]="excelSeleccionado || selectedHistorial !== ''">
                                        Cargar formato&nbsp;<mat-icon>add</mat-icon>
                                    </button>
                                    <input type="file" (change)="onFileChange($event)" #excelInput id="excelUpload"
                                    name="excelUpload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                    style="display:none;" />
                                </div>
                            </section>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Listado de documentos</ng-template>
                            <div class="content p-24" align="center" style="border: 1px">
                                <div class="content">

                                    <ngx-datatable
                                        class="material shadow-none"
                                        [rows]="documentos"
                                        [loadingIndicator]="loadingIndicator"
                                        [columnMode]="'force'"
                                        [headerHeight]="50"
                                        [footerHeight]="50"
                                        [rowHeight]="80"
                                        [contentEditable]="true"
                                        [reorderable]="reorderable"
                                        [limit]="10"
                                        [scrollbarH]="true"
                                        [scrollbarV]="true"
                                    >
                                        <ngx-datatable-column name="Valido" [sortable]="false" [width]="100"
                                        [canAutoResize]="false" [resizeable]="false" [contentEditable]="false">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <mat-icon *ngIf="row.valido" color="accent" class="material-icons">
                                                    check_circle
                                                </mat-icon>
                                                <mat-icon *ngIf="!row.valido" (click)="mensajeError(row)" color="warn"
                                                    class="material-icons">
                                                    remove_circle
                                                </mat-icon>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Id. Archivo" prop="id" [width]="120">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="PDF" prop="cNombreDocumento" [minWidth]="100">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="LEGISLATURA" prop="cLegislatura" [minWidth]="100">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="ID Decreto" prop="nIdDecreto" [width]="100">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Tipo de documento" prop="tipoDocumento" [width]="200">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Páginas" prop="paginas" [width]="100">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Fecha de creación" prop="fechaCreacion" [width]="130">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Fecha de carga" prop="fechaCarga" [width]="130">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Tema" prop="cTema" [width]="300" [cellClass]="'class-tema'">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Comisión" prop="cComision" [width]="200">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Solicitante" prop="cSolicitante" [cellClass]="'class-tema'"
                                        [width]="200">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Entidad" prop="cEntidad" [cellClass]="'class-tema'"
                                        [width]="200">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Período" prop="cPeriodo">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Número de periódico" prop="nNumeroPeriodico">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Documento" prop="cDocumento">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="ID Acta" prop="nIdActa">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Acta" prop="cActa">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Hora" prop="cHora">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Tiempo de sesión" prop="cTipoSesion">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Estatus" [sortable]="false" [width]="100"
                                        [canAutoResize]="false" [resizeable]="false" [contentEditable]="false">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <mat-icon *ngIf="row.bActivo" color="accent" class="material-icons">
                                                    check_circle
                                                </mat-icon>
                                                <mat-icon *ngIf="!row.bActivo" color="warn" class="material-icons">
                                                    remove_circle
                                                </mat-icon>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                            <div class="select buttons">
                                <button mat-raised-button color="accent" class="btn-search"
                                (click)="cargarDocumentos()" *ngIf="excelSeleccionado"
                                [disabled]="!cargarArchivos">
                                    Cargar documentos&nbsp;<mat-icon>add</mat-icon>
                                </button>
                                <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple"
                                    accept="application/pdf" style="display:none;"/>
                                <button mat-raised-button [disabled]="selectedHistorial === ''" color="warn"
                                class="btn-search" (click)="eliminarHistorialCarga()" *ngIf="!excelSeleccionado">
                                        Eliminar carga masiva pendiente&nbsp;<mat-icon>delete</mat-icon>
                                </button>
                                <button mat-raised-button matStepperPrevious color="warn" class="btn-search"
                                [disabled]="documentos.length == 0" (click)="limpiar()">
                                    Volver
                                </button>
                                <button [disabled]="!validarGuardado" mat-raised-button color="accent"
                                    class="btn-search" (click)="guardarDocumento()">
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-tab>
            <mat-tab label="Descarga masiva">
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroupFiltro">
                        <form [formGroup]="firstFormGroupFiltro">
                            <ng-template matStepLabel>Búsqueda de documentos</ng-template>
                            <section class="container">
                                <div class="column">

                                    <div class="select">
                                        <p class="tag">Id. Documento</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <input matInput formControlName="documento" [(ngModel)]="documentoBusqueda"
                                                placeholder="Nombre">
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Estatus</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Vigente/no Vigente</mat-label>
                                            <mat-select formControlName="vigente" [(ngModel)]="vigenteBusqueda">
                                                <mat-option value="true">Vigente</mat-option>
                                                <mat-option value="false">No Vigente</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Tipo de información</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccionar</mat-label>
                                            <mat-select formControlName="informacion" [(ngModel)]="selectedInformacion"
                                                name="informacion">
                                                <mat-option *ngFor="let informacion of arrInformacion"
                                                    [value]="informacion.cDescripcionVisibilidad">
                                                    {{informacion.cDescripcionVisibilidad}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Fecha de creación</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una Fecha</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="fechaCreacion"
                                                [(ngModel)]="fechaCreacion" [max]="maxDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Fecha de carga</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una Fecha</mat-label>
                                            <input matInput [matDatepicker]="picker1" formControlName="fechaCarga"
                                                [(ngModel)]="fechaCarga" [max]="maxDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Fecha de ultima modificación</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccione una Fecha</mat-label>
                                            <input matInput [matDatepicker]="picker2"
                                                formControlName="fechaModificacion" [(ngModel)]="fechaModificacion"
                                                [max]="maxDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Tipo de documento</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccionar</mat-label>
                                            <mat-select formControlName="tipoDocumentos"
                                                [(ngModel)]="selectTipoDocumento" name="tipoDocumento">
                                                <mat-option *ngFor="let tipoDocumento of arrTipoDocumentos"
                                                    [value]="tipoDocumento.id">
                                                    {{tipoDocumento.cDescripcionTipoDocumento}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!--                                    <div class="select">
                                        <p class="tag">Ente</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccionar</mat-label>
                                            <mat-select formControlName="entes" [(ngModel)]="selectedEntes" name="entes">
                                                <mat-option *ngFor="let ente of arrEntes" [value]="ente.id">
                                                    {{ente.cDescripcionEnte}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>-->

                                </div>
                                <div class="column">

                                    <div class="select">
                                        <p class="tag">Tipo de expediente</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <mat-label>Seleccionar</mat-label>
                                            <mat-select formControlName="expediente" [(ngModel)]="selectedExpediente"
                                                name="expediente">
                                                <mat-option *ngFor="let expediente of arrExpediente"
                                                    [value]="expediente.id">
                                                    {{expediente.cDescripcionTipoExpediente}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="select">
                                        <p class="tag">Folio de expediente</p>
                                        <mat-form-field appearance="fill" class="input">
                                            <input matInput placeholder="Folio" formControlName="folioExpediente"
                                                [(ngModel)]="selectedFolioExpediente">
                                        </mat-form-field>
                                    </div>
                                    <form #formRef="ngForm">
                                        <div *ngFor="let meta of arrMetacatalogosFiltro; let in=index" class="col-sm-3">
                                            <div class="form-group">
                                                <div class="select"
                                                    *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Numérico'">
                                                    <p class="tag">{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}</p>
                                                    <mat-form-field appearance="fill" class="input">
                                                        <mat-label>Capture un numero</mat-label>
                                                        <input type="number"
                                                            *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Numérico'"
                                                            matInput [(ngModel)]="meta.text"
                                                            name="{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}"
                                                           >
                                                    </mat-form-field>
                                                </div>
                                                <div class="select"
                                                    *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Texto'">
                                                    <p class="tag">{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}</p>
                                                    <mat-form-field appearance="fill" class="input">
                                                        <mat-label>Capture un texto</mat-label>
                                                        <input *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Texto'"
                                                            matInput [(ngModel)]="meta.text"
                                                            name="{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}"
                                                            >
                                                    </mat-form-field>
                                                </div>
                                                <div class="select"
                                                    *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Fecha'">
                                                    <p class="tag">{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}</p>
                                                    <mat-form-field appearance="fill" class="input">
                                                        <mat-label>Seleccione una Fecha</mat-label>
                                                        <input *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Fecha'"
                                                            matInput [(ngModel)]="meta.text"
                                                            name="{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}"
                                                            [matDatepicker]="picker2"
                                                           >
                                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker2></mat-datepicker>
                                                    </mat-form-field>
                                                </div>

                                                <div class="select"
                                                    *ngIf="arrMetacatalogosFiltro[in].cTipoMetacatalogo==='Sí o no'">
                                                    <p class="tag">{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}</p>
                                                    <mat-form-field appearance="fill" class="input">
                                                        <mat-label>Si/No</mat-label>
                                                        <mat-select [(ngModel)]="meta.text"
                                                            name="{{arrMetacatalogosFiltro[in].cDescripcionMetacatalogo}}"
                                                            >
                                                            <mat-option value="Sí">Sí</mat-option>
                                                            <mat-option value="No">No</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                            </div>
                                        </div>

                                    </form>

                                    <div class="select buttons">
                                        <button mat-raised-button matStepperNext color="warn" (click)="filter()"
                                            class="btn-search">Consultar</button>
                                        <button mat-raised-button color="warn" (click)="borrarFiltros()"
                                            class="btn-search">Borrar</button>
                                    </div>
                                </div>
                            </section>

                        </form>
                    </mat-step>

                    <mat-step [stepControl]="secondFormGroupFiltro">

                        <form [formGroup]="secondFormGroupFiltro">
                            <ng-template matStepLabel>búsqueda</ng-template>
                            <div class="content p-24" align="center" style="border: 1px">
                                <div class="content">
                                    <!-- Data table-->
                                    <ngx-datatable class="material shadow-none" [rows]="documentos"
                                        [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="50"
                                        [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable"
                                        [limit]="10" [scrollbarH]="true" [selectionType]="'checkbox'">
                                        <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
                                            <ng-template ngx-datatable-header-template let-value="value"
                                                let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                                <mat-checkbox [checked]="allRowsSelected"
                                                    (change)="selectFn(!allRowsSelected)"
                                                    (change)="selectAll(!allRowsSelected)"></mat-checkbox>
                                            </ng-template>

                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
                                                let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                                <mat-checkbox [checked]="isSelected" formControlName="selected"
                                                    [(ngModel)]="row.selected" (change)="onCheckboxChangeFn($event)">
                                                </mat-checkbox>
                                            </ng-template>

                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Id. documento" prop="id"></ngx-datatable-column>
                                        <ngx-datatable-column name="Documento" prop="cNombreDocumento">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Tipo de documento" prop="tipoDocumento">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Tipo de información" prop="informacion">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Páginas" prop="paginas" [width]="100">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Fecha de creación" prop="fechaCreacion">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Fecha de carga" prop="fechaCarga">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Fecha de modificación" prop="fechaModificacion">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Versión" prop="version" [width]="100">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Clasificación" prop="clasificacion">
                                        </ngx-datatable-column>
                                      <!--  <ngx-datatable-column name="Ente" prop="ente.cDescripcionEnte">
                                        </ngx-datatable-column>-->
                                        <ngx-datatable-column name="Tipo de expediente" prop="descripcionExpediente">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Folio de expediente" prop="folioExpediente">
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Estatus" sortable="false" [width]="100">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <mat-icon *ngIf="row.bActivo" color="accent" class="material-icons">
                                                    check_circle
                                                </mat-icon>
                                                <mat-icon *ngIf="!row.bActivo" color="warn" class="material-icons">
                                                    remove_circle
                                                </mat-icon>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="Acciones" sortable="false" prop="id" [width]="100">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                                                <a target="_self" *ngIf="row.idDocumento && row.Consultar"
                                                    (click)="descargarDocumento(row)">
                                                    <mat-icon color="primary" class="material-icons pointer"
                                                        matTooltip="Clic para descargar">
                                                        cloud_download</mat-icon>

                                                </a>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>
                                </div>
                            </div>
                            <div class="select buttons">
                                <button mat-raised-button matStepperPrevious color="warn"
                                    class="btn-search">Volver</button>
                                <button mat-raised-button (click)="descargarDocumentos()" class="button"> Descargar
                                    <mat-icon color="primary" class="material-icons pointer"
                                        matTooltip="Clic para descargar">
                                        cloud_download</mat-icon>
                                </button>
                            </div>

                        </form>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-tab>
        </mat-tab-group>
    </div>



</div>
