<ngx-spinner type="timer"></ngx-spinner>



<div id="clientes" class="page-layout simple fullwidth docs">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
        <div class="hero-text content">
            <h1>Tablero de libro de actas</h1>
            <h3>Listado de libro de actas</h3>
        </div>

    </div>
    <!-- / HEADER -->



    <div class="content p-24" align="center" style="border: 1px">
        <div class="content">
            <!-- Data table-->
            <div class="buscador">
                <mat-form-field class="buscar">
                    <mat-label>Buscar un libro de actas</mat-label>
                    <input type='text' matInput placeholder='' (keyup)='filterDatatable($event)'
                        [(ngModel)]="valueBuscador">
                </mat-form-field>
                <button [disabled]="!this.optAgregar" mat-raised-button color="warn" (click)="nuevaLibroDeActas()"
                    class="button">
                    <mat-icon color="white" class="material-icons" matTooltip="Clic para añadir un documento">post_add
                    </mat-icon>
                    Agregar libro de actas
                </button>

            </div>

            <ngx-datatable class="material shadow-none" [rows]="libroDeActas" [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
                <ngx-datatable-column name="Id. libro de actas" prop="id"></ngx-datatable-column>
                <ngx-datatable-column name="Legislatura" prop="descripcionLegislatura"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha de inicio" prop="fechaDeInicioText"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha de fin" prop="fechaDeFinText"></ngx-datatable-column>
                <ngx-datatable-column name="Estatus" sortable="false">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <mat-icon *ngIf="row.estatus" color="accent" class="material-icons">check_circle</mat-icon>
                        <mat-icon *ngIf="!row.estatus" color="warn" class="material-icons">remove_circle</mat-icon>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acciones" sortable="false" prop="id">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                        <a (click)="editarLibroDeActas(row)">
                            <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic para editar">edit
                            </mat-icon>
                        </a>
                        <a *ngIf="this.optEliminar " (click)="eliminarLibroDeActas(row)">
                            <mat-icon color="warn" class="material-icons pointer" matTooltip="Clic para eliminar">delete
                            </mat-icon>
                        </a>


                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>