<ngx-spinner type="timer"></ngx-spinner>
<div id="clientes" class="page-layout simple fullwidth docs">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text content">
            <h1>Tablero de direcciones</h1>
            <h3>Listado de direcciones</h3>
        </div>

    </div>
    <!-- / HEADER -->
</div>
<div class="content" align="center" style="border: 1px">
    <div class="content">
        <!-- Data table-->

        <div class="buscador">
            <mat-form-field class="buscar">
                <mat-label>Buscar dirección</mat-label>
                <input type='text' matInput placeholder='' (keyup)='filterDatatable($event)' [(ngModel)]="valueBuscador">
            </mat-form-field>
            <button [disabled]="!this.optAgregar" mat-raised-button color="warn" (click)="nuevaDireccion()" class="button">
                <mat-icon color="white" class="material-icons" matTooltip="Clic para añadir una dirección.">post_add
                </mat-icon>
                Agregar dirección
            </button>
        </div>

        <ngx-datatable class="material shadow-none buttons" [rows]="direcciones" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
            [reorderable]="reorderable" [limit]="10" [scrollbarH]="true">
            <!-- <ngx-datatable-column name="Id. Dirección" prop="id"></ngx-datatable-column> -->
            <ngx-datatable-column name="Dirección" prop="cDescripcionDireccion"></ngx-datatable-column>
            <ngx-datatable-column name="Estatus" sortable="false" [width]="10">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <mat-icon *ngIf="row.bActivo" color="accent" class="material-icons">check_circle</mat-icon>
                    <mat-icon *ngIf="!row.bActivo" color="warn" class="material-icons">remove_circle</mat-icon>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Acciones" sortable="false" prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a *ngIf="this.optEliminar" (click)="eliminarDireccion(row)">
                        <mat-icon color="warn" class="material-icons pointer" matTooltip="Clic para eliminar">delete
                        </mat-icon>
                    </a>
                    <a *ngIf="this.optConsultar === true && this.optEditar === true"
                        (click)="editarDireccion(row)">
                        <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic para editar">edit
                        </mat-icon>
                    </a>
                    <a *ngIf="this.optConsultar === true && this.optEditar === true"
                    (click)="departamentos(row)">
                        <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic para editar">store_mall_directory
                        </mat-icon>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<mat-dialog-actions align="end" class="buttons">
    <button mat-raised-button color="warn" (click)="cerrar('')">Cerrar</button>
    <!--<button  mat-raised-button color="accent" (click)="clasificarDocumento()">Upload</button> -->
</mat-dialog-actions>