<ngx-spinner type="timer"></ngx-spinner>
<mat-drawer-container class="example-container">
    <mat-drawer  mode="side" opened position="start" [style.width]="'55%'">
       <!--  <object  *ngIf="this.documento.autorizacion_iniciativas.length === 0" [data]="this.pdfSrc | safePipe" type="application/pdf" width="100%" height="100%"></object> -->
          <object  *ngIf="this.documento.autorizacion_iniciativas.length > 0" [data]="this.pdfSrc | safePipe" type="application/pdf" width="100%" height="100%"></object>
            <pdf-viewer *ngIf=" this.ocultarPreview === false && this.documento.autorizacion_iniciativas.length  === 0 "
            [render-text]="true" [original-size]="false" [autoresize]="true" [rotation]="true" [src]="pdfSrc"></pdf-viewer>
      

        <div *ngIf="this.ocultarPreview" class="container">
            <div class="lista">
                <h3 class="encabezado">Hoy</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="hoy" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>
                <h3 class="encabezado">Ayer</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="ayer" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>
                <h3 class="encabezado">Esta semana</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="semanaActual" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>
                <h3 class="encabezado">La semana pasada</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="semanaPasada" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>

                <h3 class="encabezado">Hace dos semanas</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="semanaAntepasada" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>

                <h3 class="encabezado">El mes pasado</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="mesPasado" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>
                <h3 class="encabezado">Más antiguo</h3>

                <ngx-datatable class="material table-trazabilidad shadow-none" [rows]="masAntiguo" [loadingIndicator]="loadingIndicator" [columns]="columns" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="reorderable">
                </ngx-datatable>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <mat-dialog-actions align="end" class="mat-dialog-icons">
            <button *ngIf="this.documento.iniciativas" mat-raised-button color="warn" [matMenuTriggerFor]="menu">Documento</button>

            <mat-menu #menu="matMenu">
               
                
                <button *ngIf="!this.pasarAAutorizacion && this.documento.iniciativa && !this.autorizacionPendiente" mat-menu-item (click)="pasarAutorizacion()">
                    <mat-icon>arrow_right_alt</mat-icon>
                    <span>Autorización</span>
                </button>
                <button *ngIf="this.autorizacionPendiente && this.pasarAAutorizacion"
                    [disabled]="!this.autorizacionPendiente" mat-menu-item (click)="autorizar()">
                    <mat-icon>verified_user</mat-icon>
                    <span>Autorizar</span>
                </button>
                <button mat-menu-item (click)="descargar()">
                    <mat-icon>cloud_download</mat-icon>
                    <span>Descargar</span>
                </button>
                <button *ngIf="this.turnarDocumento" [disabled]="!this.turnarDocumento" mat-menu-item
                    (click)="turnarIniciativa()">
                    <mat-icon>keyboard_tab</mat-icon>
                    <span>Turnar</span>
                </button>
            </mat-menu>
            <button *ngIf="this.documento.Eliminar" mat-fab color="warn" (click)="eliminar()" class="button">
                <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic para eliminar">delete
                </mat-icon>
            </button>
            <button *ngIf="!this.documento.iniciativas" mat-fab color="cyan" (click)="descargar()" class="button">
                <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic para descargar">
                    cloud_download</mat-icon>
            </button>
            <button *ngIf="!this.documento.iniciativas" mat-fab color="green" (click)="linkPublico()" class="button">
                <mat-icon color="primary" class="material-icons pointer"
                    matTooltip="Clic ver el historial de versionamiento">
                    folder_shared</mat-icon>
            </button>
            <button *ngIf="this.trazabilidad" mat-fab color="accent" (click)="obtenerTrazabilidad()" class="button">
                <mat-icon color="primary" class="material-icons pointer"
                    matTooltip="Clic ver la trazabilidad del documento">
                    timeline</mat-icon>
            </button>
            <button *ngIf="!this.documento.iniciativas" mat-fab color="accent" (click)="historialVersionamiento()" class="button">
                <mat-icon color="primary" class="material-icons pointer"
                    matTooltip="Clic ver el historial de versionamiento">
                    history</mat-icon>
            </button>
            <!--<button *ngIf="this.trazabilidad" mat-fab color="accent" (click)="obtenerTrazabilidad()" class="button">
                <mat-icon color="primary" class="material-icons pointer" matTooltip="Clic ver la trazabilidad del documento">
                    history</mat-icon>
            </button>-->
            <!--<button  mat-raised-button color="accent" (click)="clasificarDocumento()">Upload</button> -->
        </mat-dialog-actions>
        <div class="contentInfo border-button">
            <form class="mat-card " fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
             
                <h3>Información general</h3>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="20">
                        <p class="info">Id. Documento:</p>
                    </div>
                    <div fxLayout="row" fxFlex="80">
                        <p>{{this.documento.id}}</p>
                    </div>
                </div>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="20">
                        <p class="info">Documento:</p>
                    </div>
                    <div fxLayout="row" fxFlex="80">
                        <p>{{this.documento.cNombreDocumento}}</p>
                    </div>
                </div>
                <div fxFlex="100">
                    <div fxFlex="20">
                        <p class="info">Estatus:</p>
                    </div>
                    <div fxFlex="30">
                        <p *ngIf="this.documento.bActivo">Vigente</p>
                        <p *ngIf="!this.documento.bActivo">No Vigente</p>
                    </div>
                    <div fxLayout="row" fxFlex="20">
                        <p class="info">Formato:</p>
                    </div>
                    <div fxLayout="row" fxFlex="30">
                        <p>{{this.documento.documento.ext}}</p>
                    </div>
                </div>

                <div fxLayout="row" fxFlex="100">
                  <!--   <div fxLayout="row" fxFlex="20">
                        <p class="info">Páginas:</p>
                    </div>
                    <div fxLayout="row" fxFlex="30">
                        <p>{{this.documento.paginas}}</p>
                    </div>
 -->
                    
                    <div fxLayout="row" fxFlex="20">
                        <p class="info">Versión:</p>
                    </div>
                    <div fxLayout="row" fxFlex="30">
                        <p> {{this.documento.version}}</p>
                    </div>
                </div>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <p class="info">Tipo de documento:</p>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <p> {{this.documento.tipo_de_documento.cDescripcionTipoDocumento}}</p>
                    </div>
                </div>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <p class="info">Tipo de información:</p>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <p> {{this.documento.visibilidade.cDescripcionVisibilidad}}</p>
                    </div>
                </div>
           
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <p class="info">Fecha de creación:</p>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <p> {{this.fechaCreacionView}}</p>
                    </div>
                </div>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <p class="info">Fecha de carga:</p>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <p> {{this.fechaCargaView}}</p>
                    </div>
                </div>
            </form>
        </div>

        <div class="contentInfo">
            <form class="mat-card " fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
                <h1>Clasificación de documentos</h1>
                <!--   
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Entes</mat-label>
                        <mat-select formControlName="entes" [(ngModel)]="selectedEntes" name="entes">
                            <mat-option *ngFor="let ente of arrEntes" [value]="ente.id">
                                {{ente.cDescripcionEnte}}
                            </mat-option>
                        </mat-select>
                        <mat-error>El ente es requerida</mat-error>
                    </mat-form-field>
                </div>
-->
                <!--   <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Secretarías</mat-label>
                        <mat-select formControlName="secretarias" [(ngModel)]="selectedSecretaria" name="secretarias">
                            <mat-option *ngFor="let secretaria of arrSecretarias" [value]="secretaria.id">
                                {{secretaria.cDescripcionSecretaria}}
                            </mat-option>
                        </mat-select>
                        <mat-error>La secretaría es requerida</mat-error>
                    </mat-form-field>
                </div>

                
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Direcciones</mat-label>
                        <mat-select formControlName="direcciones" [(ngModel)]="selectedDireccion" name="direcciones">
                            <mat-option *ngFor="let direccion of arrDirecciones" [value]="direccion.id">
                                {{direccion.cDescripcionDireccion}}
                            </mat-option>
                        </mat-select>
                        <mat-error>La dirección es requerida</mat-error>
                    </mat-form-field>
                </div>
                <div  fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="departamentos" [(ngModel)]="selectedDepartamento"
                            name="departamentos">
                            <mat-option *ngFor="let departamento of arrDepartamentos" [value]="departamento.id">
                                {{departamento.cDescripcionDepartamento}}
                            </mat-option>
                        </mat-select>
                        <mat-error>El departamento es requerido</mat-error>
                    </mat-form-field>
                </div>
                -->
          <!--       <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Legislatura *</mat-label>
                        <mat-select formControlName="legislatura" [(ngModel)]="selectedLegislaturas" name="legislatura">
                            <mat-option *ngFor="let legislatura of arrLegislaturas" [value]="legislatura.id">
                                {{legislatura.cLegislatura}}
                            </mat-option>
                        </mat-select>
                        <mat-error>La legislatura es requerido</mat-error>
                    </mat-form-field>
                </div> -->
                <!--     <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Tipo de información *</mat-label>
                        <mat-select formControlName="informacion" [(ngModel)]="selectedInformacion" name="informacion">
                            <mat-option *ngFor="let informacion of arrInformacion" [value]="informacion.id">
                                {{informacion.cDescripcionVisibilidad}}
                            </mat-option>
                        </mat-select>
                        <mat-error>El tipo de información es requerido</mat-error>
                    </mat-form-field>
                </div>
 -->
           <!--      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Tipo de expediente *</mat-label>
                        <mat-select formControlName="expediente" [(ngModel)]="selectedExpediente" name="expediente">
                            <mat-option *ngFor="let expediente of arrExpediente" [value]="expediente.id">
                                {{expediente.cDescripcionTipoExpediente}}
                            </mat-option>
                        </mat-select>
                        <mat-error>El tipo de expediente es requerido</mat-error>
                    </mat-form-field>
                </div> -->

                <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Pasillo *</mat-label>
                        <input matInput formControlName="pasillo" type="text"    name="pasillo" >
                        <mat-error>El pasillo es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Estante *</mat-label>
                        <input matInput formControlName="estante" type="text"    name="estante" >
                        <mat-error>El estante es requerido</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="1 0 auto">
                  
                </div>

                <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Nivel *</mat-label>
                        <input matInput formControlName="nivel" type="text"    name="nivel" >
                        <mat-error>El nivel es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Sección *</mat-label>
                        <input matInput formControlName="seccion" type="text"    name="seccion" >
                        <mat-error>La seccion es requerida</mat-error>
                    </mat-form-field>
                  
                </div>

                <!-- <div fxLayout="row" *ngIf="this.descriptionTipoDocumento !== 'Acta'" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                        <mat-label>Tipo de información *</mat-label>
                        <input matInput formControlName="informacion" name="informacion">
                        <mat-icon matSuffix class="secondary-text">insert_drive_file</mat-icon>
                    </mat-form-field>
                </div> -->
               
                <div fxLayout="row" *ngIf="this.descriptionTipoDocumento !== 'Acta'" fxLayoutAlign="start center" fxFlex="1 0 auto">
             <!--        <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                        <mat-label>Número de caja *</mat-label>
                        <input matInput formControlName="numeroDeCaja" type="number"   name="numeroDeCaja" >                
                        <mat-error>El Número de caja es requerido</mat-error>
                    </mat-form-field> -->
                    
                    <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                        <mat-label>Número de caja *</mat-label>
                        <input matInput formControlName="folioExpediente" type="number"  [(ngModel)]="this.selectedFolioExpediente" pattern="[0-9]+" name="folioExpediente" [disabled]="disableFolioExpediente">
                        <mat-icon matSuffix class="secondary-text">insert_drive_file</mat-icon>
                        <mat-error>El Número de caja es requerido</mat-error>
                    </mat-form-field>
                </div>
                <!-- 
                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-chip-list [disabled]="this.documento.disabled" #chipList aria-label="Metacatalogos">
                        <mat-chip *ngFor="let fruit of meta" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(fruit)">
                          {{fruit.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Nuevo Metacatalogo..."
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                </div>
 -->
            <h1>Metadatos</h1>
                <form #formRef="ngForm">
                    <div *ngFor="let meta of arrMetacatalogos; let in=index" class="col-sm-1">
                        <div class="form-group">
                            <div fxLayout="row" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Numérico'" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                                    <mat-label>{{arrMetacatalogos[in].cDescripcionMetacatalogo}}</mat-label>
                                    <input [disabled]="this.documento.iniciativas" type="number" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Numérico'" matInput [(ngModel)]="meta.text" name="{{arrMetacatalogos[in].cDescripcionMetacatalogo}}" [required]="arrMetacatalogos[in].bOligatorio"
                                        [disabled]="this.documento.disabled">

                                </mat-form-field>
                            </div>
                            <div fxLayout="row" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Texto'" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                                    <mat-label>{{arrMetacatalogos[in].cDescripcionMetacatalogo}}</mat-label>
                                    <input [disabled]="this.documento.iniciativas" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Texto'" matInput [(ngModel)]="meta.text" name="{{arrMetacatalogos[in].cDescripcionMetacatalogo}}" [required]="arrMetacatalogos[in].bOligatorio" [disabled]="this.documento.disabled">

                                </mat-form-field>
                            </div>
                            <!-- <div fxLayout="row" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Fecha'" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="1 0 auto" class="pl-4">
                                    <mat-label>{{arrMetacatalogos[in].cDescripcionMetacatalogo}}</mat-label>
                                    <input [disabled]="this.documento.iniciativas" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Fecha'" matInput [(ngModel)]="meta.text" name="{{arrMetacatalogos[in].cDescripcionMetacatalogo}}" [matDatepicker]="picker2" [required]="arrMetacatalogos[in].bOligatorio"
                                        [disabled]="this.documento.disabled">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div> -->
                            <div fxLayout="row" *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Sí o no'" fxLayoutAlign="center" fxFlex="30">
                                <section class="example-section">
                                    <mat-slide-toggle *ngIf="arrMetacatalogos[in].cTipoMetacatalogo==='Sí o no'" [(ngModel)]="meta.text" name="{{arrMetacatalogos[in].cDescripcionMetacatalogo}}" class="example-margin" [disabled]="this.documento.disabled">
                                        {{arrMetacatalogos[in].cDescripcionMetacatalogo}}
                                    </mat-slide-toggle>
                                </section>
                            </div>
                         
                            <!--<p [hidden]="words2[in].value">Field is required</p>
                          {{formRef.form.name1}}-->
                        </div>
                   
                    </div>
           
                </form>
                
            </form>
        </div>

        <mat-dialog-actions align="end" class="mat-card">
            <button mat-raised-button color="warn" (click)="cerrar(true)">Cerrar</button>
            <button *ngIf="!this.documento.iniciativas"
                [disabled]="!formRef.form.valid ||  form.invalid || disabledGuardar || this.documento.disabled || !this.form.touched "
                mat-raised-button color="accent" (click)="guardar()">Guardar</button>
            <!--  <button  mat-raised-button color="accent" (click)="pruebaForm()">Upload</button> -->
        <!-- {{formRef.form.valid }} , {{form.invalid}} , {{disabledGuardar}}, {{this.documento.disabled}} , {{this.form.touched}}  -->
        </mat-dialog-actions>
    </mat-drawer-content>

</mat-drawer-container>